html {
  background: url('../assets/background.png') no-repeat center fixed;
  /* background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/background.png?raw=true') no-repeat center center fixed; */
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}


body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;

}

div {
  display: flex;
  margin-bottom: -15px;
}

h1 {
  text-align: center;
  font-size: 90px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px black;
  margin-top: -10px;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-bottom: 8px;
}


button{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    font-size: 20px;
    margin: 4px 10px;
    width: 80%;
    transition: all 0.4s ease;

  }

#timer{
    color: white;
}
 

#grid {
  width: 500px;
  height: 400px;
  cursor: url('../assets/pokeball.png'), pointer;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;

}


.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
}


.hole:after {
  display: block;
  background: url("../assets/hole.png") bottom center no-repeat;  content:'';
  background-size: contain;
  width: 100%;
  height: 100%;
  bottom: -40%;
  z-index: 2;
  position: absolute;
  pointer-events:none;

  /* edited moles */
}
#mole0 {
  background:url('../assets/squirtle.png') bottom center no-repeat;
  background-size: 50%;
}
#mole1{
  background:url('../assets/bulba.png') bottom center no-repeat;
  background-size: 50%;
}
#mole5{
  background:url('../assets/vulpix.png') bottom center no-repeat;
  background-size: 50%;
}

#mole3{
  background:url('../assets/jigly.png') bottom center no-repeat;
  background-size: 50%;
}

#mole7{
  background:url('../assets/evee.png') bottom center no-repeat;
  background-size: 50%;
}

#mole2{
  background:url('../assets/pika.png') bottom center no-repeat;
  background-size: 50%;
}

#mole4{
  background:url('../assets/psyduck.png') bottom center no-repeat;
  background-size: 50%;
}

#mole6{
  background:url('../assets/char.png') bottom center no-repeat;
  background-size: 50%;
}

#mole8{
  background:url('../assets/gangar.png') bottom center no-repeat;
  background-size: 50%;
}

.mole {
  background-size: 30%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transition: all 1s;
  pointer-events:auto;

}

.hole.show .mole {
  top: 0;
  transform: scale(1.1);

}
